// Fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

body {
    background-color: #10141E;
    overflow-x: hidden;
}

// Container
.container {
    width: 100vw;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
}

* {
    user-select: none;
}

// Logo
#logo {
    display: block;
    margin: 78px auto;
    margin-bottom: 0px;
}

// Form
.reglog {
    width: 87%;
    max-width: 400px;
    background: #161D2F;
    border-radius: 20px;
    padding: 32px;
    margin: 83px auto;
    margin-bottom: 0px;

    h1 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
    }
}

// input
.input {
    width: 100%;
    margin-top: 24px;
    background-color: transparent;
    border: none;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
    border-bottom: 1px solid #5A698F;
    padding-bottom: 17px;
    padding-left: 16px;

    &:focus {
        outline: none;
    }

    &:nth-child(2) {
        margin-top: 40px;
    }
}

#input-active {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 1;
    border-bottom: 1px solid #ffffff;
}

// Login Button
.login-button {
    width: 100%;
    background: #FC4747;
    border-radius: 6px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
    border: none;
    margin-top: 54px;
    cursor: pointer;

}

.button-active {
    &:hover {
        background: white;
        color: #161D2F;
    }
}

.button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

// Form Message 
.formMessage {
    width: fit-content;
    margin: 0 auto;
    margin-top: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;

    span {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: #FC4747;
    }
}

.active svg path {
    fill: #FFFFFF !important;
}

// Navigation
nav {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #161D2F;
    border-radius: 20px;
    padding: 32px;

    div {
        display: flex;
        flex-direction: column;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 75px;
        align-items: center;
    }

    .icons {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    #logo {
        margin-top: 0px;
    }

    svg {
        path {
            &:hover {
                fill: #FC4747;
            }
        }
    }
}

// Home 
.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .left {
        width: 164px;
        height: 100vh;
        padding: 5vh 36px 5vh 32px;
    }

    .right {
        width: calc(100vw - 164px);
        padding-top: 5vh;
        padding-right: 30px;
    }
}

// Search
.search {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 27px;

    label {
        height: 38px;
        cursor: pointer;

        img {
            width: 27px;
            height: 27px;
            margin-top: 5px;
        }
    }

    input {
        width: 50vw;
        background-color: transparent;
        border: none;
        font-family: 'Outfit';
        font-weight: 300;
        line-height: 24px;
        font-size: 24px;
        color: white;
        padding-bottom: 14px;
        caret-color: #FC4747;

        &:focus {
            outline: none;
            border-bottom: 1px solid #5A698F;
        }
    }
}



// landing
.landing {
    width: 100%;

    h1 {
        margin-top: 35px;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: #FFFFFF;
    }
}


.trendingCard {
    width: 470px;
    height: 230px;
    color: white;
    border-radius: 8px;
    background-size: contain;
    padding: 16px 24px 24px 24px;

    .img {
        width: 32px;
        height: 32px;
        background-color: rgba(16, 20, 30, 0.5);
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        float: right;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 12px;
            height: 14px;
        }
    }
}

// info box
#info-box {


    width: fit-content;

    .top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.75;

        img {
            margin-right: 6px;
        }
    }


    h2 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;

        /* Pure White */
        opacity: 1;
        color: #FFFFFF;
    }
}

.card {
    width: 280px;
    height: 200px;

    .trendingCard {
        width: 100%;
        height: 140px;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0px;
    }
}

#recommendeds {


    h2 {
        width: fit-content;
    }
}

.swiper-slide {
    width: fit-content !important;
    height: fit-content !important;
}


.movies {
    h1 {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.5px;
        color: #FFFFFF;

        margin-top: 35px;
        margin-bottom: 38px;
    }
}

.containerBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 40px 32px;
}

.logout {
    width: 70px;
    height: 30px;
    background-color: #FC4747;
    font-family: 'Outfit';
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 3px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;

        .left {
            width: 100%;
            height: fit-content;
            padding: 0px;
            align-items: center;

            nav {
                flex-direction: row;
                width: 100%;
                height: fit-content;
                justify-content: space-between;
                align-items: center;

                .left {
                    flex-direction: row;
                    justify-content: space-between;
                    width: 65%;

                    #logo {
                        margin: 0px;
                    }

                    .icons {
                        flex-direction: row;
                    }
                }

                div {
                    img {
                        display: none;
                    }
                }
            }
        }

        .right {
            margin-left: 10%;
            width: 90%;
            padding-right: 0px;
        }
    }

    .logout {
        margin-top: 0px;
        margin-left: 20px;
    }

    #logo {
        width: 25px;
        height: 20px;

    }

    .containerBox {
        padding-right: 20px;
    }


}

@media (max-width: 480px) {
    nav {
        .left {
            justify-content: flex-start;
            gap: 20px;
        }

        .icons {
            width: fit-content;
            gap: 20px;
        }
    }

    .logout {
        width: 50px;
        font-size: 10px;
    }

    .search {
        width: 100%;
        margin-right: 0px;

        img {
            width: 25px !important;
            height: 25px !important;
            margin-top: 0px !important;
        }

        #search {
            width: 100%;
            font-size: 16px;
        }
    }
    h1{
        font-size: 20px !important;
    }
    .swiper-slide{
        .trendingCard{
            width: 240px;
            height: 140px;
            background-repeat: no-repeat;
            background-size: cover;
            #info-box{
                margin-top: 70px !important;
                p{
                    font-size: 12px;
                }
                h2{
                    font-size: 15px;
                }
            }
        }
    }
    .containerBox{
        grid-template-columns: repeat(auto-fill,164px);
    }
    .card{
        width: 164px;
        height: 110px;
        background-size: cover;
    }
}